@import "../styles/variables/all.scss";
@import "../styles/helpers/resolutions.scss";

.Floasis {
  font-family: $font;
  color: $dark;
  background-color: white;

  .title {
    margin-bottom: 80px;

    h1 {
      margin-top: 20px;
      font-size: $h1-desktop;
      color: $aquat;
    }

    p {
      color: $grey;
      font-weight: 700;
      letter-spacing: 1.1px;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;

    @include desktop {
      flex-direction: row;
      gap: 80px;
    }

    .project {
      width: 100%;
      h2 {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: $h2-mobile;
      }

      p {
        line-height: 1.6;
      }
    }

    .specs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .role,
      .duration,
      .responsibilities {
        span {
          color: $grey;
          font-weight: 600;
          letter-spacing: 0.6px;
        }
        p {
          margin-top: 5px;
          line-height: 1.6;
        }
      }
    }
  }

  .logo {
    width: 100%;
    height: auto;

    @include desktop {
      height: auto;
    }
  }

  .problemGoal {
    // border: 2px solid red;
    display: flex;
    gap: 80px;
    margin: 80px auto 30px auto;
    flex-direction: column;
    margin-bottom: 120px;

    @include desktop {
      flex-direction: row;
      justify-content: space-around;
      gap: 200px;
    }

    .problemText {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 60px;
      margin-top: -30px;

      @include desktop {
        gap: 100px;
        margin-top: 0;
      }

      .problem,
      .goal {
        span {
          color: $grey;
          font-weight: 600;
          letter-spacing: 0.6px;
        }

        p {
          margin-top: 8px;
          max-width: 500px;
          line-height: 1.6;
        }

        width: 100%;

        img {
          height: 100px;
          width: 100px;
        }
      }
    }

    .problemImage {
      height: auto;
      width: 300px;
      margin: 0 auto;

      @include desktop {
        width: 350px;
      }
    }
  }

  .designProcess {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    background-color: $offwhite;

    h2 {
      font-size: $h2-mobile;
      font-weight: 600;
      margin-bottom: 40px;
      padding-top: 40px;
    }

    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-bottom: 40px;

      @include desktop {
        width: 80%;
      }
    }
  }

  .phase {
    background-color: $aqua;
    border: 1px solid $aqua;
    @include desktop {
    }

    h2 {
      // border: 2px solid red;
      text-align: center;
      font-size: 36px;
      color: white;
      margin: 100px auto;
      padding: 0 20px;
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 80px;

    @include desktop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 40px;

      @include desktop {
        width: 70%;

        margin-bottom: 0px;
      }
    }

    .summaryInfo {
      @include desktop {
        width: 40%;
      }
      h3 {
        margin-bottom: 15px;
        font-size: $h3-mobile;
      }

      p {
        line-height: 1.6;
      }
    }
  }

  .research {
    height: auto;
    width: 100%;

    .researchTitle {
      margin-bottom: 35px;
      margin-top: 50px;

      h3 {
        font-size: $h3-mobile;

        @include desktop {
          margin-bottom: 40px;
          margin-top: 120px;
        }
      }
    }

    .painpointsContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
      gap: 30px;

      @include desktop {
        flex-direction: row;
        gap: 100px;
        margin-bottom: 140px;
      }

      .painpoint {
        h2 {
          color: $aquat;
          font-size: 52px;
          margin-bottom: 16px;
        }

        h3 {
          margin-bottom: 6px;
          color: $grey;
        }

        p {
          @include desktop {
            max-width: 80%;
            line-height: 1.6;
          }
        }
      }
    }

    .personasContainer {
      margin-top: 50px;

      .persona {
        width: 100%;
        margin-bottom: 60px;

        @include desktop {
          margin-bottom: 100px;
        }

        h3 {
          font-size: $h3-mobile;
          margin-bottom: 15px;
          margin-top: 30px;

          @include desktop {
            text-align: center;
            margin-top: 100px;
          }
        }

        p {
          margin-bottom: 20px;
          line-height: 1.6;

          @include desktop {
            width: 70%;
            margin: 0 15% 20px 15%;
          }
        }

        .personaImg {
          width: 100%;
          height: auto;

          @include desktop {
            width: 90%;
            margin: 0 auto;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .journeyContainer {
      .journey {
        h3 {
          font-size: $h3-mobile;
          margin-bottom: 15px;
          margin-top: 60px;

          @include desktop {
            text-align: center;
            margin-top: 80px;
          }
        }

        p {
          margin-bottom: 20px;
          line-height: 1.6;

          @include desktop {
            width: 70%;
            margin: 0 15% 20px 15%;
          }
        }

        .journeyImg {
          width: 100%;
          height: auto;
          margin-bottom: 40px;

          @include desktop {
            width: 90%;
            margin: 0 auto;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .storyboards {
      margin-bottom: 80px;
      h3 {
        font-size: $h3-mobile;
        margin-bottom: 40px;
        margin-top: 60px;

        @include desktop {
          text-align: center;
          margin-top: 80px;
        }
      }

      .storyImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include desktop {
          flex-direction: row;
        }

        img {
          width: 100%;
          height: auto;

          @include desktop {
            width: 50%;
          }
        }
      }
    }
  }

  .paperContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
    margin-top: 60px;

    @include desktop {
      flex-direction: row;
      margin-bottom: 80px;
      margin-top: 80px;
    }

    .paperText {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      h3 {
        font-size: $h3-mobile;
      }

      p {
        line-height: 1.6;

        @include desktop {
          width: 90%;
        }
      }

      .note {
        font-size: 12px;
        margin-top: 20px;
      }
    }

    .paperImg {
      img {
        width: 100%;
        height: auto;

        @include desktop {
          width: 100%;
        }
      }
    }
  }

  .digitalContainer {
    // border: 2px solid red;

    margin-bottom: 60px;

    @include desktop {
      flex-direction: row;
      margin-bottom: 80px;
    }
    h3 {
      font-size: $h3-mobile;
      margin-bottom: 20px;
      margin-top: 50px;

      @include desktop {
        // text-align: center;
        margin-bottom: 50px;
      }
    }

    .digitalWireframe1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-bottom: 80px;

      @include desktop {
        flex-direction: row-reverse;
      }
      p {
        line-height: 1.6;
        @include desktop {
          width: 80%;
        }
      }

      .digitalImg {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .digitalWireframe2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-bottom: 80px;

      @include desktop {
        flex-direction: row;
      }
      p {
        line-height: 1.6;
        @include desktop {
          width: 80%;
        }
      }

      .digitalImg {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .allWireframes {
      margin-top: 60px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .protoAndUsability {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 60px;

    @include desktop {
      flex-direction: row;
      margin-bottom: 100px;
      margin-top: 90px;
    }

    .loFiProto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 60px;

      @include desktop {
        width: 50%;
        margin-bottom: 0;
      }
      .lofiImg {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .usability {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include desktop {
        width: 50%;
      }

      h3 {
        margin-bottom: 20px;
        font-size: $h3-mobile;

        @include desktop {
          margin-bottom: 30px;
        }
      }

      p {
        margin-bottom: 20px;
        line-height: 1.6;
      }

      span {
        color: $grey;
        font-weight: 600;
      }

      ul {
        padding-left: 15px;
        margin-bottom: 20px;
      }

      ul li {
        margin-bottom: 3px;
      }

      a {
        font-size: 12px;
        text-decoration: underline;
        margin-top: 20px;
      }
    }
  }
}

.refineContainer {
  margin-top: 60px;

  @include desktop {
    margin-top: 100px;
  }

  .refine1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;

    @include desktop {
      flex-direction: row;
      margin-bottom: 100px;
    }
    p {
      line-height: 1.6;
      @include desktop {
        width: 70%;
      }
    }

    .refineImg {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .refine2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;

    @include desktop {
      flex-direction: row-reverse;
    }
    p {
      line-height: 1.6;
      @include desktop {
        width: 60%;
      }
    }

    .refineImg {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .sticker {
    margin-top: 60px;
    margin-bottom: 40px;

    @include desktop {
      width: 90%;
      margin: 120px auto 100px auto;
    }
    img {
      width: 100%;
      height: auto;
      border: 1px solid grey;
      border-radius: 20px;

      @include desktop {
      }
    }
  }

  .allWireframes2 {
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 100px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.result {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .resultImg {
    img {
      width: 100%;

      @include desktop {
        width: 600px;
      }
    }
  }

  a {
    text-decoration: underline;
    font-size: 16px;
  }
}

.end {
  img {
    width: 100%;
  }
}
