// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//

// color palette

$dark: #363636;
$grey: #929292;
$aqua: #32bfa5;
$aquat: #32bfa589;
$white: #ffffff;
$offwhite: #f2f2f2;
