@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

// Font
//--------------------------------------------------------------------//

$font: "Poppins", sans-serif;
$font2: "Playfair Display", serif;
// Font-size
//--------------------------------------------------------------------//

// mobile
$h1-mobile: 40px;
$h2-mobile: 28px;
$h3-mobile: 24px;
$body-mobile: 16px;
$didascalia-mobile: 11px;

// desktop
$h1-desktop: 80px;
$h2-desktop: 50px;
$h3-desktop: 36px;
$h4-desktop: 26px;
$didascalia-desktop: 15px;
$body-desktop: 18px;
$didascalia-desktop: 14px;
