@import "../../styles/variables/all.scss";
@import "../../styles/helpers/resolutions.scss";

.Footer {
  padding: 60px 20px;
  font-family: $font;
  margin-top: 40px;
  background-color: $white;
  color: $dark;

  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 80px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: $h3-mobile;
      margin-bottom: 20px;
    }

    .allinfo {
      text-align: center;

      margin-bottom: 20px;

      p {
        margin-bottom: 20px;
      }

      span {
        font-weight: 600;
      }

      .icons {
        display: flex;
        gap: 20px;
        justify-content: center;
        a {
        }

        img {
          width: 40px;
        }
      }
    }
  }

  .copyright {
    p {
      font-size: 12px;
      margin-top: 5px;
    }
  }
  @include desktop {
    margin-top: 150px;
  }
}
